DB_HOST=localhost
DB_PORT=5432

# DB_USERNAME=postgres # postgres is the username required for root admin functions e.g. to delete a database
DB_USERNAME=admin
DB_PASSWORD=password
DB_NAME=super_processor

# Alternative: instead of using config.yaml use internal config with the following:
CHAIN_ID=2 # Aptos testnet chainId
GRPC_API_KEY_{chainId}="aptoslabs_123abc" # e.g. GRPC_API_KEY_2 for Aptos testnet, etc
GENESIS_VERSION_{chainId}={starting_version for chain} # e.g. GENESIS_VERSION_2 for Aptos testnet, etc